<%= form_with(model: user_todo_list, local: true) do |form| %>
  <% if user_todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_todo_list.errors.count, "error") %> prohibited this user_todo_list from being saved:</h2>

      <ul>
        <% user_todo_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, User.all, :id, :full_name, {include_blank: true}, {'data-placeholder': 'Please select...'}) %>
  </div>

  <div class="form-group">
    <%= form.label :todo_list_id %>
    <%= form.collection_select(:todo_list_id, TodoList.all, :id, :label, {include_blank: true}, {'data-placeholder': 'Please select...'}) %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
