<!DOCTYPE html>
<html>
  <head>
    <title>TeamTodo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <% if flash.present? %>
        <%= render 'shared/flash' %>
      <% end %>
    </div>
    <div class="container mt-5 pt-3">
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'shared/modal_create_todo' %>
  </body>
</html>
